/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

   /* google fonts installed */   
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
   /* BBA QM main layout */
   h1, h2, h3, h4, h5, h6, p, span, div { font-family: 'Roboto', sans-serif; }
   h1, h2, h3, h4, h5, h6 { font-weight: 500; }
   p, span, div { font-weight: 300; }
   /* Parent Container */
   #bba_activate_page { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #FFF; overflow: scroll;}
   /* BBA QM Branding */
   #bba_icon_brand { width: 10%; text-align: center;}
   #bba_qm_brand { margin-bottom: 15%; }
   /* QM Content */
   #bba_qm_content { margin-top: 10%; }
   /* QM Primary container */
  .bba_container { width: 100%; margin: 0 auto ; text-align: center; margin-top: 15px;}
   /* QM btn */
   input#bba_qm2a, input#bba_qm2b,
   #bba_qm2a-textwrap, #bba_qm2email,
   input#bba_qm_begin {overflow-wrap: break-word !important;background-color: #94b795;border: none; width: 30%; padding: 8px 10px;font-weight: 300;margin-bottom: 15px;}
   /* QM btn hover */
   #bba_qm2email:hover, input#bba_qm2a:hover, input#bba_qm2b:hover, input#bba_qm_begin:hover  { background-color: #84b885; cursor: pointer; }
   input#email_input:hover, input#email_input:focus, input#email_input:active { border: 1px solid #F29C81; outline:  #F29C81;}
   #bba_qm2a-textwrap { width: 40%;}
  /* Begin URL CSS */
  .bbarow { text-align: center; margin-top: 75px !important; }
  input#bba_qm2a{ margin-bottom: 15px; }
  input#email_input { width: 30%; border-top: none; border-left: none; border-right: none; margin-bottom: 15px; }
  label.bba_qm2email {  width: 100%; }
  #flexCheckDefault  { margin-right: 10px; margin-bottom: 5px; }
  input#email_input { padding: 25px; }

  table#recomendation_qm { width: 100% !important }
  tbody#recomendation_qmtb tr td img { width: 25% !important}

